<h1>Welcome.You can publish your ad here.</h1>
<%= form_for @ad, url: ads_path do |f| %>
  <%if @ad.errors.any? %>
    <%@ad.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
      <%end %>
  <%end %>
  <p>
    <%= f.label :real_estate_type %><br>
    <%= f.select :real_estate_type, Ad.real_estate_types.keys%>
  </p>
  <p>
    <%= f.label :first_adress %><br>
    <%= f.text_field :adress %>
  </p>
  <p>
    <%= f.label :second_adress %><br>
    <%= f.text_field :second_adress %>
  </p>
  <p>
    <%= f.label :square %><br>
    <%= f.text_field :square %>
  </p>
  <p>
    <%= f.label :rooms %><br>
    <%= f.text_field :rooms %>
  </p>
  <p>
    <%= f.label :rent_limit_days %><br>
    <%= f.text_field :rent_limit_days %>
  </p>
  <p>
    <%= f.label :price_per_day %><br>
    <%= f.text_field :price_per_day %>
  </p>
  <p>
    <%= f.submit "Create ad" %><br>
  </p>
<% end %>


<%= link_to 'Back', root_path %>
