<p id="notice"><%= notice %></p>
<b><%=  @profile.email%></b> <br />
<b><%=  @profile.firstname%></b> <br />
<b><%=  @profile.lastname%></b> <br />
<b><%=  @profile.phone_number%></b> <br />
<%= link_to 'Back', root_path %>